<div class="recipe-container">
    <mat-card *ngFor="let recipe of recipes" class="recipe-card">
      <!-- <img [src]="'http://localhost:5000/image/' + recipe.imageUrl" alt="{{ recipe.name }}" class="recipe-image" /> -->
      <img mat-card-image [src]="recipe.image" alt="{{recipe.name}}" loading="lazy" >
      <mat-card-content>
        <h2>{{ recipe.name }}</h2>
        <p>{{ recipe.description }}</p>
        <span class="time-tag">{{ recipe.time }}</span>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button color="primary" (click)="viewRecipe()">View Recipe</button>
      </mat-card-actions>
    </mat-card>
 
  </div>
  